.review{
    min-height: 920px;
    &__title{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 60px;
    }
    &__block{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    img{
        height: 100%;
    }
    &__descr{
        margin-left: 60px;
        .name{
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        .achiev{
            font-weight: 500;
            font-size: 14px;
            color: #646464;
            margin-bottom: 10px;
        }
        .text{
            font-weight: 300;
            font-size: 16px;
            color: #0D0D0D;
        }
    }

}